<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

    <extension
         point="org.eclipse.ui.editors">   
            
  </extension>
  
  
  <extension
         point="org.eclipse.ui.propertyPages">
         
  </extension>

  <extension
         point="org.eclipse.ui.views">
  </extension>
   
  <extension
         point="org.eclipse.ui.perspectiveExtensions">
     <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
        <view
               ratio="0.5"
               relative="org.eclipse.jdt.ui.SourceView"
               relationship="stack"
               id="com.arcadsoftware.aev.core.view.messageslog">
        </view>
     </perspectiveExtension>
  </extension>
   
   <!-- Extension des preferences-->
  <extension
         point="org.eclipse.ui.preferencePages">
	 
   </extension>
   
 	<!--Gestion des préférences de plugin -->
 	<extension point="org.eclipse.core.runtime.preferences">
		<initializer class="com.arcadsoftware.aev.core.ui.tools.CorePreferenceInitializer"/>
	</extension>   
	
	
	<!--<extension point="org.eclipse.help.toc">
     	<toc file="toc.xml" primary="true" />
	</extension>
  	<extension point="org.eclipse.help.contexts">
      	<contexts file="contexts.xml" />
  	</extension>-->
 </plugin>
