<?xml version="1.0" encoding="UTF-8"?><?pde version="3.8"?>
<target name="AEV development platform" sequenceNumber="22">
    <locations>
        <location path="${eclipse_home}" type="Profile"/>
        <location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
            <unit id="com.arcadsoftware.asteroids.commons.feature.feature.group" version="0.0.0"/>
            <unit id="com.arcadsoftware.asteroids.spring.feature.feature.group" version="0.0.0"/>
            <unit id="com.arcadsoftware.asteroids.jdbc.feature.feature.group" version="0.0.0"/>
            <repository location="http://rdanart01plv.quarcad.net/asteroids/3.2.0/update"/>
        </location>
        <location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
            <unit id="com.arcadsoftware.rap.feature.feature.group" version="0.0.0"/>
            <repository location="http://rdanart01plv.quarcad.net/rap/3.1.0/update"/>
        </location>
    </locations>
</target>
