<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="AEV Build Platform" sequenceNumber="1">
	<locations>
		<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
			<unit id="org.eclipse.equinox.sdk.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.e4.rcp.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.emf.common.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.emf.ecore.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.platform.feature.group" version="0.0.0"/>
			<unit id="javax.xml.stream" version="0.0.0"/>
			<repository location="https://download.eclipse.org/releases/2018-09/201809191002"/>
		</location>
		<location includeDependencyDepth="none" includeDependencyScopes="compile" missingManifest="generate" type="Maven">
			<dependencies>
				<dependency>
					<groupId>com.google.re2j</groupId>
					<artifactId>re2j</artifactId>
					<version>1.7</version>
					<type>jar</type>
				</dependency>
				<dependency>
					<groupId>commons-io</groupId>
					<artifactId>commons-io</artifactId>
					<version>2.16.1</version>
					<type>jar</type>
				</dependency>
				<dependency>
					<groupId>net.sf.jmimemagic</groupId>
					<artifactId>jmimemagic</artifactId>
					<version>0.1.5</version>
					<type>jar</type>
				</dependency>
				<dependency>
					<groupId>org.apache.commons</groupId>
					<artifactId>commons-lang3</artifactId>
					<version>3.14.0</version>
					<type>jar</type>
				</dependency>
				<dependency>
					<groupId>org.hsqldb</groupId>
					<artifactId>hsqldb</artifactId>
					<version>2.7.2</version>
					<type>jar</type>
				</dependency>
			</dependencies>
		</location>
	</locations>
</target>